<div class="container">
<div class="columns">
    <div class="column is-3">
    <div class="footer-brand">
        <h3 class="title is-4">VIDEO STUDIO</h3>
        <p class="subtitle is-7 has-text-grey">Профессиональный видеопродакшен с 2018 года</p>
    </div>
    </div>
    
    <div class="column">
    <div class="footer-section">
        <h5 class="title is-6 has-text-white">Страницы сайта</h5>
        <div class="columns is-multiline">
        <div class="column is-half">
            <ul class="footer-list">
            <li><a href="/"><i class="fas fa-chevron-right mr-2"></i>Главная</a></li>
            <li><a href="/about"><i class="fas fa-chevron-right mr-2"></i>О нас</a></li>
            </ul>
        </div>
        <div class="column is-half">
            <ul class="footer-list">
            <li><a href="/price"><i class="fas fa-chevron-right mr-2"></i>Прайс-лист</a></li>
            <li><a href="/cases"><i class="fas fa-chevron-right mr-2"></i>Кейсы</a></li>
            </ul>
        </div>
        </div>
    </div>
    </div>
    
    <div class="column is-3">
    <div class="footer-section">
        <h5 class="title is-6 has-text-white">Быстрый заказ</h5>
        <p class="has-text-grey mb-4">Оставьте заявку и мы свяжемся с вами в течение часа</p>
        <a class="button is-warning is-medium is-fullwidth">
        <span class="icon">
            <i class="fas fa-shopping-cart"></i>
        </span>
        <span>Заказать сейчас</span>
        </a>
    </div>
    </div>
</div>

<hr class="footer-separator">

<div class="columns is-vcentered">
    <div class="column">
    <p class="has-text-grey is-size-7">
        &copy; 2026 VIDEO STUDIO. Все права защищены.
    </p>
    </div>
    
    <div class="column has-text-right-tablet">
    <p class="has-text-grey is-size-7">
        <a href="/privacy" class="has-text-grey">
        <i class="fas fa-shield-alt mr-1"></i>Политика конфиденциальности
        </a>
    </p>
    </div>
</div>
</div>

<div class="footer-meta">
<div class="container has-text-centered">
    <p class="has-text-grey-light is-size-7">prod by rescale</p>
</div>
</div>